# Dependencies
node_modules/

# Build
dist/
build/
*.local

# Env
.env
.env.local
.env.*.local

# Cache & logs
.cache/
*.log
npm-debug.log*
pnpm-debug.log*

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
